.list-style{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 0;
    
}

.list-item-style{
    padding: 5px 10px;
    align-items: center;
    color: #ffffff;

}
.list-item-style i{
    color: rgb(245, 82, 6);
    font-size: 16px;
}
.navbar-nav {
    align-items: center;
}
.nav-item{
    color: rgb(245, 82, 6);
    font-size: 20px;
    margin-left: 15px;
    text-decoration: none;
    
}
nav .active{
    color: red;
}